*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-inner {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* arrow-up */

.arrow-up {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  width: 40px;
  height: 40px;
  transition: 0.3s fill ease-in-out;
  cursor: pointer;
  fill: black;
}

.arrow-up:hover {
  fill: rgba(155, 215, 227, 1);
}

.show {
  display: block;
}

.hide {
  display: none;
}
